.blogs{
    .blog-box{
        background: $white;
        border-radius:20px;
        box-shadow: $shadow;
        @include media-query(1199px) {
            margin-bottom: 30px;
        }
        .image-block{
            position: relative;
            overflow: hidden;
            border-radius: 20px 20px 0px 0px;
            img{
                -webkit-transition: $transition2;
                transition: $transition2;
            }
            .auther{
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 0px 30px 0px 0px;
            }
        }
        .content{
            position: relative;
            z-index: 10;
            padding: 32px 16px;
            h6{
                font-weight: 600;
                font-size: clamp(13px, 0.833vw, 22px);
                line-height: 140%;
                color: $accent-1;
                margin-bottom: 10px;
            }
            .title{
                font-weight: 500;
                font-size: clamp(20px, 1.25vw, 30vw);
                line-height: 140%;
                text-transform: capitalize; 
                color: $black-1;
                margin-bottom: 20px;              
                transition: $transition;              
            }
            ul{
                padding-left: 0;
                list-style: none;
                margin-bottom: 0;
                display: flex;
                li{
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    span{
                        font-weight: 400;
                        font-size: clamp(14px, 0.833vw, 22px);
                        line-height: 150%;
                        color: $black-1;
                    }
                    i{
                        color: $accent-1;
                        font-size: clamp(20px, 1.25vw, 30vw);
                    }
                }
            }
        }
        &:hover{
            .image-block{
                img{
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    -webkit-transition: $transition2;
                    transition: $transition2;
                }
                .auther{
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
            .title{
                color: $accent-1;
                transition: $transition;
            }
        }
    }
}